In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
def create_sim_mat():
    dataset = pd.read_csv('Final_Movie_Data.csv')
    cv = CountVectorizer()
    c_m = cv.fit_transform(dataset['combined'])
    sim = cosine_similarity(c_m)
    return dataset,sim

In [4]:
print(create_sim_mat()[1])

[[1.         0.24174689 0.16116459 ... 0.0805823  0.         0.        ]
 [0.24174689 1.         0.18181818 ... 0.         0.         0.        ]
 [0.16116459 0.18181818 1.         ... 0.         0.         0.        ]
 ...
 [0.0805823  0.         0.         ... 1.         0.08703883 0.10050378]
 [0.         0.         0.         ... 0.08703883 1.         0.09622504]
 [0.         0.         0.         ... 0.10050378 0.09622504 1.        ]]

In [47]:
dataset,sim = create_sim_mat()
if 'Dagaalty' not in dataset['movie_title'].unique():
    print('Movie Not Found')
else:
    index = dataset.loc[dataset['movie_title']=='Dagaalty'].index[0]
    similar = list(enumerate(sim[index])) # Converting similar movies into a list
    similar = sorted(similar,key= lambda x:x[1],reverse=True) # Sorting Values in Descending Order
    similar = similar[1:11] # Drop The Movie title which has sim score of 1.
    print(similar)
    similar_movies = []
    for i in range(len(similar)):
        similar_movies.append(dataset['movie_title'][similar[i][0]])
    print(similar_movies)

[(5760, 0.4), (6065, 0.4), (5400, 0.3585685828003181), (6022, 0.3585685828003181), (5430, 0.33541019662496846), (5548, 0.33541019662496846), (6226, 0.33541019662496846), (5780, 0.31622776601683794), (6025, 0.31622776601683794), (5685, 0.30000000000000004)]
['Thrissur Pooram', 'Sarileru Neekevvaru', 'Bairavaa', 'Namma Veettu Pillai', 'Kavan', 'Dharmaprabhu', 'Puppy', 'A1: Accused No. 1', 'Comali', 'Chopsticks']

In [48]:
dataset[dataset['movie_title'] == 'Sarileru Neekevvaru' ]

,director,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,combined
6065,Anil Ravipudi,Mahesh Babu,Rashmika Mandanna,Vijayshanti,Action Comedy Drama,Sarileru Neekevvaru,Mahesh Babu Rashmika Mandanna Vijayshanti An...

In [53]:
def recom(movie):
    try:
        dataset.head()
        sim.shape
    except:
        dataset,sim = create_sim_mat()
    if movie not in dataset['movie_title'].unique():
            return('Movie is not found')
    else:
        index = dataset.loc[dataset['movie_title']==movie].index[0] # Getting Index of Title
        similar = list(enumerate(sim[index])) # Converting similar movies into a list
        similar = sorted(similar,key= lambda x:x[1],reverse=True) # Sorting Values in Descending Order
        similar = similar[1:11] # Drop The Movie title which has sim score of 1.
        similar_movies = []
        for i in range(len(similar)):
            similar_movies.append(dataset['movie_title'][similar[i][0]])
        #print(similar_movies)
        return similar_movies

In [58]:
movie = "Memento"
recommended = recom(movie)

In [59]:
print(recommended)

['Insomnia', 'Case 39', 'Paycheck', 'The Prestige', 'The X Files: I Want to Believe', 'Enter Nowhere', 'The Dark Knight Rises', 'Shattered', 'Triangle', 'Martha Marcy May Marlene']